.calendar_container {
   width: 55vw;
   height: 60vh;
   border: 2px solid var(--color-neutral-950);
   border-radius: 25px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

:global(.react-calendar) {
   width: 49vw;
   height: 60vh;
   border: none;
   margin-top: 2vh;
}

:global(.react-calendar__navigation) {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   margin: 0;
   width: 100%;
}

:global(.react-calendar__navigation__label) {
   border: none;
   width: 35vw !important;
   text-align: center;
   font-weight: bold;
}

:global(.react-calendar__navigation) button {
   background: none;
}


:global(.react-calendar__navigation__arrow) {
   font-size: 1.5em;
   color: var(--color-neutral-950);
}

:global(.react-calendar__month-view__weekdays__weekday) {
   text-transform: uppercase;
   
}

:global(.react-calendar__month-view__weekdays__weekday abbr) {
   text-decoration: none;
   border-bottom: none;
 }

:global(.react-calendar__month-view__weekdays__weekday:first-child) abbr,
:global(.react-calendar__month-view__days__day:nth-child(7n+1)) {
   color: red;
}

:global(.react-calendar__month-view__weekdays__weekday:last-child) abbr,
:global(.react-calendar__month-view__days__day:nth-child(7n)) {
   color: blue;
}

/* Hide year navigation buttons */
:global(.react-calendar__navigation__prev2-button),
:global(.react-calendar__navigation__next2-button) {
   display: none;
}

:global(.react-calendar__navigation__prev-button),
:global(.react-calendar__navigation__next-button) {
   background-color: transparent !important;
   background-repeat: no-repeat !important;
   background-position: center !important;
   width: 7vw !important;  
   height: 30px !important; 
   padding: 0 !important;   
   border: none !important; 
}

:global(.react-calendar__navigation__prev-button) {
   background-image: url('../../icons/back.png') !important;
   background-size: 8px !important;
}

:global(.react-calendar__navigation__next-button) {
   background-image: url('../../icons/next.png') !important;
   background-size: 8px !important;
}

:global(.react-calendar__month-view__days__day) {
   width: 7vw !important;
   height: 8.3vh !important;
   display: flex;
   justify-content: center;
   align-items: center;
   border: none !important;
   background-color: var(--color-neutral-50);
   margin: 0 !important;
   padding: 0 !important;
 }
 
 :global(.react-calendar__tile) {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   padding-top: 5px !important;
 }

 :global(.react-calendar__tile) {
   border: none !important;
   margin: 0 !important;
   padding: 0 !important;
 }
 
