.noto-sans-kr-500 {
   font-family: "Noto Sans KR", serif;
   font-optical-sizing: auto;
   font-weight: 500;
   font-style: normal;
 }

.headerContainer {
   width: 100vw;
   display: flex;
   flex-direction: column;
   align-items: center;
   height: 10vh;
   justify-content: space-between;
   margin-top: 3vh;
}

.header {
   display: flex;
   flex-direction: row;
   align-items: center;
   width: 90vw;
   height: 10vh;
   justify-content: space-between;
}

.logo {
   width: 35vw;
   height: 9vh;
   border-radius: 15px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: var(--color-blue-600);
}

.logo div {
   font-family: "Noto Sans KR";
   font-weight: 800;
   font-size: 4vh;
   text-align: center;
   margin: 0;
   color: var(--color-neutral-50);
}

.description {
   width: 50vw;
   height: 9vh;
   border-radius: 15px;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   background-color: var(--color-neutral-200);
   display: flex;
}

.text {
   font-family: "Noto Sans KR";
   font-weight: 800;
   font-size: 2.5vh;
   text-align: start;
   margin: 0;
   color: var(--color-neutral-950);
   width: 40vw;
}

.nicknamebox {
   background-color: black;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 2.8vw;
   height: 2.8vw;
   border-radius: 13px;
   color: white;
   text-align: center;
}